.lab5-boody {
    background-color: rgb(227, 209, 187);
    border: 5px solid black;
}

h5 {
    /* color: green; */
}

p {
    font-size: 15px;
}

.answer1 {

    display: none;
}

.show-answer .answer1 {
    display: block;
}

.minus-btn {
    display: none;
}

.show-answer .minus-btn {
    display: inline;
}


.show-answer .plus-btn {
    display: none;
}

#p1 {
    font-size: larger;
    display: none;

}

.show-answer #p1 {
    display: block;

}